body {
  background-color: #8dbefe;
  padding: 1em;
}

#main, #placeholder {
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 1em;
}

#question, #question-preview, #answer, #answer-preview {
  border-color: #e0e0e0;
  border-style: dashed;
  border-radius: 1em;
  padding: 1em;
  width: calc(100% - 2em);
  margin-bottom: 2em;
  overflow: auto;
}

#question > *:first-child,
#question-preview > *:first-child,
#answer > *:first-child,
#answer-preview > *:first-child {
  margin-top: 0;
}

#question > *:last-child,
#question-preview > *:last-child,
#answer > *:last-child,
#answer-preview > *:last-child {
  margin-bottom: 0;
}

textarea, #question-preview, #answer-preview {
  height: 10em;
}

#menu, .bar {
  text-align: center;
}

button {
  width: calc(50% - 1em);
  border-style: none;
  border-radius: 1em;
  padding: 1em;
}

#edit-question, #preview-question, #edit-answer, #preview-answer {
  width: 7em;
  background-color: white;
  border-color: #e0e0e0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#edit-question.current,
#preview-question.current,
#edit-answer.current,
#preview-answer.current {
  background-color: #f8f8f8;
  border-style: solid;
  border-bottom-style: none;
}

#edit-question:hover,
#preview-question:hover,
#edit-answer:hover,
#preview-answer:hover {
  background-color: #f8f8f8;
}

textarea#question, #question-preview, textarea#answer, #answer-preview {
  border-top-left-radius: 0;
}

#correct {
  background-color: #dcffdc;
}

#wrong {
  background-color: #ffdcdc;
}

#new, #edit, #done, #cancel, #sync-drive {
  background-color: #dbdbdb;
}

#menu {
  position: sticky;
  bottom: 1em;
}

#sync-drive {
  width: 100%;
  margin-bottom: 1em;
}

/* CSS for the content of the cards */

pre {
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
  padding: 1em;
  overflow: auto;
}
