body {
  background-color: #8dbefe;
  padding: 1em;
}

#main, #placeholder {
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 1em;
}

#question, #answer {
  border-color: #e0e0e0;
  border-style: dashed;
  border-radius: 1em;
  padding: 1em;
  width: calc(100% - 2em);
  margin-bottom: 2em;
}

textarea {
  height: 10em;
}

form, #menu {
  text-align: center;
}

button {
  width: calc(50% - 1em);
  border: 0;
  border-radius: 1em;
  padding: 1em;
}

#correct {
  background-color: #dcffdc;
}

#wrong {
  background-color: #ffdcdc;
}

#new, #edit, #done, #cancel, #sync-drive {
  background-color: #dbdbdb;
}

#menu {
  position: sticky;
  bottom: 1em;
}

#sync-drive {
  width: 100%;
  margin-bottom: 1em;
}
