html {
  height: 100%;
}

body {
  background-color: #8dbefe;
  padding: 0;
  margin: 0;
  height: calc(100% - 3em);
  font-family: sans-serif;
}

#main, #placeholder {
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  margin: 1.5em;
}

#create {
  cursor: pointer;
  display: inline-block;
  border-radius: 1em;
  background-color: #71a2e3;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  line-height: 2em;
}

#create:hover {
  background-color: #6094d9;
}

#main.edit {
  height: calc(100% - 4em);
  min-height: 37rem;
}

#question, #question-preview, #answer, #answer-preview {
  border-color: #e0e0e0;
  border-style: dashed;
  border-radius: 1em;
  padding: 1em;
  width: calc(100% - 2em);
  margin-bottom: 2em;
  overflow: auto;
}

#placeholder > *:first-child,
#question > *:first-child,
#question-preview > *:first-child,
#answer > *:first-child,
#answer-preview > *:first-child {
  margin-top: 0;
}

#placeholder > *:last-child,
#question > *:last-child,
#question-preview > *:last-child,
#answer > *:last-child,
#answer-preview > *:last-child {
  margin-bottom: 0;
}

textarea {
  font-size: 1rem;
}

textarea#question, #question-preview {
  height: calc(30% - 5.1rem);
  min-height: 6rem;
}

textarea#answer, #answer-preview {
  height: calc(70% - 11.9rem);
  min-height: 14rem;
}

#hamburger, #menu {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#menu {
  border-radius: 1rem;
  border-top-right-radius: 1.5rem;
  background-color: #71a2e3;
  overflow: hidden;
}

#menu > * {
  padding: 1rem;
  padding-right: 4rem;
  cursor: pointer;
}

#menu > *:hover {
  background-color: #6094d9;
}

#hamburger {
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 1.5rem;
  background-color: #5087cf;
  color: black;
  cursor: pointer;
}

.bar {
  text-align: center;
}

#edit-question, #preview-question, #edit-answer, #preview-answer {
  width: 7em;
  background-color: white;
  border-style: none;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1em;
}

#edit-question.current,
#preview-question.current,
#edit-answer.current,
#preview-answer.current {
  background-color: #f8f8f8;
  border-color: #e0e0e0;
  border-style: solid;
  border-bottom-style: none;
}

#edit-question:hover,
#preview-question:hover,
#edit-answer:hover,
#preview-answer:hover {
  background-color: #f8f8f8;
}

textarea#question, #question-preview, textarea#answer, #answer-preview {
  border-top-left-radius: 0;
}

#correct, #wrong, #done, #cancel {
  width: calc(50% - 1em);
  border-style: none;
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;
}

#correct {
  background-color: #dcffdc;
}

#wrong {
  background-color: #ffdcdc;
}

#done, #cancel {
  background-color: #dbdbdb;
}

button {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

/* CSS for the content of the cards */

pre {
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
  padding: 1em;
  overflow: auto;
}

code {
  font-size: 1rem;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: #f0f0f0;
}

pre code {
  padding: 0;
  background-color: inherit;
}
